<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <h1>Formulaire de création de plat</h1>

  <form action="/plat/create" method="post" th:object="${form}">

    <div>
      <label for="in-nom">nom:</label><br>
      <input type="text" th:field="*{nom}" id="in-nom">
    </div>

    <div>
      <label for="in-prix">prix</label><br>
      <input type="number" th:field="*{prix}" id="in-prix">
    </div>

    <button type="submit"> envoyer </button>

  </form>

</body>
</html>