<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <h1>formulaire de génération de mots</h1>

  <form action="/generate/words" method="get" th:object="${form}">

    <div>
      <label for="in-qtt">quantité</label><br>
      <input type="number" th:field="*{qtt}" id="in-qtt">
    </div>

    <div>
      <label for="in-size">taille</label><br>
      <input type="number" th:field="*{size}" id="in-size">
    </div>

    <button type="submit">envoyer</button>

  </form>

</body>
</html>